@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
    background:
        linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url('./Assets/background-sports.png ') center/cover no-repeat;
    background-size: cover;
    background-position: center;

    padding: 3% 0 5% 5%;
}

.slogan {
    color: #fff;
    font-size: 1.6vw;
    margin-bottom: 3%;
}

.main-text h1,
.main-text h2 {
    color: #fff;
    font-size: 4.5vw;
    font-weight: 900;
    font-style: italic;
    text-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
}

/* MAIN */
main {
    display: flex;
}

.main-info {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);

    margin: -16% 0% 0% 7%;
    width: 40vw;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
}




.podium-title {
    color: #007018;
    font-size: 4vw;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 50px;
}


.podium-list {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px
}

.podium-card {
    background: linear-gradient(to bottom, #007018, #004f10);
    border-radius: 20px;
    padding: 3%;
    color: #fff;
    width: 10vw;
    transition: transform 0.3s ease;
}

.podium-card:nth-child(2) {
    transform: scale(1.15);
    z-index: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.podium-card h3 {
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    font-style: italic;
    margin-bottom: 5%;
}

.podium-card li {
    margin-left: -15px;
    font-size: 1vw;
}



.call-to-action {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.cta-button {
    transition: all 0.2s ease-in-out;

    font-size: 2vw;
    font-weight: 900;
    padding: 5%;
    border-radius: 20px;
    background-color: #007018;
    color: #fff;
    border: none;
    width: 20vw;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    margin-top: 40px;

}

.cta-button:hover {
    background-color: #ffffff;
    color: #007018;
    cursor: pointer;

}

.cta-text {
    font-size: 1vw;
}


.horizontal-line {
    background-color: #007018;
    margin-bottom: 30px;
    height: 3px;

    width: 100%;
}


/* 

DIV LATERAL ESQUERDA

*/
.lateral-detail {
    display: flex;
    align-items: center;
    max-width: 40%;
    height: 50%;
    margin: 5% 0 0 7%
}

.vertical-line {
    background-color: #007018;
    height: 1fea0vw;
    width: 5px;
    margin-right: 2%;
}

.paragraph-detail {
    font-size: 1vw;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
    main {
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
    }

    .slogan {
        color: #fff;
        font-size: 2vw;
        margin-bottom: 3%;
    }

    .main-text h1,
    .main-text h2 {
        color: #fff;
        font-size: 8vw;
        font-weight: 900;
        font-style: italic;
        text-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
    }



    .lateral-detail {
        display: flex;
        align-items: center;
        max-width: 100%;
        height: 20%;
        margin-left: 0;
    }

    .paragraph-detail {
        font-size: 2.5vw;
    }




    .main-info {
        margin: 5% 0 0 0;
        width: 100%;
    }

    .podium-title {
        font-size: 9vw;
        margin-bottom: 6vw;
    }

    .podium-list {
        margin: 0 2% 0% 2%;
    }


    .podium-card {
        width: 30vw;
        height: 35vw;
    }

    .podium-card h3 {
        font-size: 4.5vw;
        font-weight: 800;
        text-align: center;
        font-style: italic;
        margin-bottom: 5%;
    }

    .podium-card li {
        margin-left: -15px;
        font-size: 2.5vw;
    }

    .cta-button {
        width: 50vw;
        font-size: 5vw;
    }

    .cta-text {
        font-size: 3vw;
    }

}